In [2]:
import pandas as pd

In [3]:
import os
os.getcwd()

'c:\\Affandra\\Data Engineer\\_Belajar\\Belajar_Airflow\\notebooks'

In [4]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit                : 9c8bc3e55188c8aff37207a74f1dd144980b8874
python                : 3.14.1
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.26200
machine               : AMD64
processor             : Intel64 Family 6 Model 154 Stepping 3, GenuineIntel
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_Indonesia.1252

pandas                : 2.3.3
numpy                 : 2.3.5
pytz                  : 2025.2
dateutil              : 2.9.0.post0
pip                   : 25.3
Cython                : None
sphinx                : None
IPython               : 9.8.0
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : None
blosc                 : None
bottleneck            : 1.4.2
dataframe-api-compat  : None
fastparquet           : None
fsspec                : None
html5lib              : None
hypothesis            : None
gcsfs                 : None
jinja2                : None
lxml.etree            : None
matplotlib            : None
numba                 : None
numexpr               : 2.14.1
odfpy                 : None
openpyxl              : None
pandas_gbq            : None
psycopg2              : None
pymysql               : None
pyarrow               : 21.0.0
pyreadstat            : None
pytest                : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : None
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
xlsxwriter            : None
zstandard             : None
tzdata                : 2025.2
qtpy                  : None
pyqt5                 : None

In [7]:
df = pd.read_parquet('../data/bronze/earthquake_data.parquet')
df.head()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country,ingest_timestamp
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",None,Vanuatu,2025-12-05 14:48:08.505743
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",None,None,2025-12-05 14:48:08.505743
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",South America,Argentina,2025-12-05 14:48:08.505743
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",None,None,2025-12-05 14:48:08.505743
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,None,1,820,at,79,0.879451,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,None,None,2025-12-05 14:48:08.505743

In [8]:
df = pd.read_parquet('../data/silver/earthquake_data.parquet')
df.head()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,mag_type,depth,latitude,longitude,location,continent,country,ingest_timestamp
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,2023-08-16 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",None,Vanuatu,2025-12-05 14:48:08.505743
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,2023-07-19 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",None,None,2025-12-05 14:48:08.505743
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,2023-07-17 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",South America,Argentina,2025-12-05 14:48:08.505743
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,2023-07-16 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",None,None,2025-12-05 14:48:08.505743
4,M 7.3 - Alaska Peninsula,7.3,2023-07-16 06:48,0,5,None,1,820,at,79,0.879451,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,None,None,2025-12-05 14:48:08.505743

In [12]:
df = pd.read_parquet('../data/gold/earthquake_stats.parquet')
df.head(50)

,country,eq_count,avg_magnitude,max_magnitude,min_magnitude,tsunami_count
0,Afghanistan,10,6.730000,7.5,6.5,0
1,Algeria,1,6.800000,6.8,6.8,0
2,Antarctica,3,6.866667,7.1,6.6,3
3,Argentina,6,6.766667,7.2,6.5,2
4,Azerbaijan,2,6.650000,6.8,6.5,0
5,Bolivia,4,6.675000,6.8,6.5,0
6,Botswana,1,6.500000,6.5,6.5,0
7,Brazil,3,6.666667,6.8,6.5,0
8,Canada,1,7.800000,7.8,7.8,0
9,Chile,42,6.921429,8.8,6.5,8
10,Colombia,8,6.837500,7.3,6.5,2
11,Costa Rica,3,6.866667,7.6,6.5,1
12,Ecuador,10,7.030000,7.8,6.5,5
13,El Salvador,2,6.550000,6.6,6.5,0
14,Fiji,10,7.100000,8.2,6.6,8
15,Greece,7,6.671429,7.0,6.5,0
16,Guatemala,3,6.733333,6.9,6.6,1
17,Haiti,2,7.100000,7.2,7.0,1
18,Iceland,2,6.500000,6.5,6.5,0
19,India,6,6.833333,7.7,6.5,0
20,Indonesia,140,6.950714,9.1,6.5,14
21,Iran,9,6.866667,7.7,6.5,0
22,Italy,1,6.600000,6.6,6.6,0
23,Japan,26,6.761538,7.1,6.5,6
24,Kyrgyzstan,1,6.700000,6.7,6.7,0
25,Martinique,1,7.400000,7.4,7.4,0
26,Mexico,31,7.016129,8.0,6.5,9
27,Mongolia,1,6.700000,6.7,6.7,0
28,Mozambique,1,7.000000,7.0,7.0,0
29,Myanmar,6,6.800000,6.9,6.6,0
30,Nepal,4,7.100000,7.8,6.6,0
31,New Zealand,9,6.955556,7.8,6.5,5
32,Nicaragua,2,6.650000,6.7,6.6,1
33,Pakistan,5,7.280000,7.7,6.8,0
34,Panama,4,6.575000,6.7,6.5,2
35,Papua New Guinea,81,6.897531,8.0,6.5,29
36,People's Republic of China,15,6.973333,7.9,6.5,0
37,Peru,26,7.200000,8.4,6.5,8
38,Philippines,23,6.839130,7.6,6.5,10
39,Russia,19,6.910526,7.8,6.5,5
40,Russian Federation (the),1,6.500000,6.5,6.5,1
41,Saudi Arabia,1,7.200000,7.2,7.2,0
42,Solomon Islands,25,6.876000,8.1,6.5,10
43,South Georgia and the South Sandwich Islands,1,7.100000,7.1,7.1,1
44,Taiwan,9,6.877778,7.7,6.5,3
45,Tajikistan,2,7.000000,7.2,6.8,0
46,Tanzania,2,6.650000,6.8,6.5,0
47,Tonga,1,6.600000,6.6,6.6,0
48,Trinidad and Tobago,1,6.700000,6.7,6.7,0
49,Turkey,6,6.950000,7.6,6.5,0